body{
    font-family: 'Montserrat', sans-serif;
}


h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-family: 'Open Sans', sans-serif;
}
/* Heading */

.big-heading{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

p{
    color: #8f8f8f;
}

/* containers  */
.container-fluid{
    padding: 3% 15%;  /* now content in under this class is more centered */
}

/* Section  */
.colored-section{
    /* background-color: #ff4c68; */
    background-color: #2ce2a8;
    color: #fff;
}

.white-section{
    background-color: #fff;
}
#title{
    text-align: left;
}


.navbar{
    padding:0 0 4.5rem;
}
/* nav-bar brand */
.navbar-brand{
    font-family:"Ubuntu";
    font-weight: bold;
    font-size: 2.5rem;
}
.navbar-items{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";

}
.download-button{
    margin:5% 3% 5% 0;
}
.title-image{
    width: 90%;
    height:90%;
    /* transform: rotate(25deg); */
    z-index: -1;
}

.icon{
    /* color:#ef8172; */
    color:#51c481 ;
    margin-bottom: 1rem;
    transition: transform .2s
}
.icon:hover{
    /* color: #ff4c68; */
    color: #0fe34e;
    transform: scale(1.5);
    
}
.testimonial-image{
    width: 10%;
    border-radius:100%;
    margin:20px;
}

.feature-box{
text-align: center;
padding:5%;
}
.press-image{
    width:15%;
    margin:20px 20px;
}
.carousel-item{
    padding:7% 15%;
}
.pricing-column{
    padding:3% 2%;
    transition:transform .4s;
    

}
.pricing-column:hover{
    transform: scale(1.19);
    /* color: #ff4c68; */
    color:#0fe34e;
    
}

.cta-heading{
    font-family: 'Open Sans',sans-serif;
    font-size: bold;
    font-size: 3rem;
    line-height: 1.5;
}
.social-icon{
    
    margin:20px 10px;
    color:black;
    
}
.social-icon:hover{

    color:#0fe34e;
}


#features{
    padding: 7% 15%;
    
    

}

/* Testimonial  */

#testimonials{
    text-align: center;
    background-color: #51c481;
}

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}
#press{
    backgroutitlend-color: #51c481;
    text-align: center;
    padding-bottom:3%;
}

/* Pricing Section  */

#pricing{
    padding: 60px ;
    text-align: center;
}

.price-text{
    font-size: 3rem;
    line-height: 1.5;
}
@media (max-width:1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
        
    }
}
#cta{
    text-align: center;
    padding: 7% 15%;
}
#footer{
    padding:7% 15%;
    text-align: center;
}

/* for background animation */
.gradient-background{
    background: linear-gradient(300deg, #00bfff,#64f4aa,rgb(37, 255, 59));
    background-size: 180% 180%;
    animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}